.style_list {
    border: 1px solid black;
    background-color: #dedede;
    padding: 5px;
    margin: 5px;
    display: flex; 
    cursor: pointer; 
    text-decoration: none; 
    color: black;
}
.style_list:hover {
    background-color: lightgray;
    border-color: gray;
}

.groups_exist::after {
    content: "\2611"; /* Unicode character for empty checkbox */
    display: inline-block;
    float: right;
    margin-left: 10px;
    color: green;
  }